@use "sass:color";
@use "sass:map";

@each $key, $val in $my-colors {

    // @debug $key, $val;
    .text-#{$key} {
        color: $val;
    }

    .text-hover-#{$key} {
        &:hover {
            color: $val;
        }
    }

    .bg-#{$key} {
        background-color: $val;
    }

    .bg-hover-#{$key} {
        &:hover {
            color: $val;
        }
    }

    // @debug $key, $val;

    @if($key !="white" and $key !="black") {
        @for $i from 1 through 9 {
            // @debug $key, $i;

            /** Light variations */
            .text-#{$key}-light-#{$i} {
                color: color.mix(white, $val, $i * 10%);
            }

            .text-hover-#{$key}-light-#{$i} {
                &:hover {
                    color: color.mix(white, $val, $i * 10%);
                }
            }

            .bg-#{$key}-light-#{$i} {
                background-color: color.mix(white, $val, $i * 10%);
            }

            .bg-hover-#{$key}-light-#{$i} {
                &:hover {
                    color: color.mix(white, $val, $i * 10%);
                }
            }

            /** Dark variations */

            .text-#{$key}-dark-#{$i} {
                color: color.mix(black, $val, $i * 10%);
            }

            .text-hover-#{$key}-dark-#{$i} {
                &:hover {
                    color: color.mix(black, $val, $i * 10%);
                }
            }

            .bg-#{$key}-dark-#{$i} {
                background-color: color.mix(black, $val, $i * 10%);
            }

            .bg-hover-#{$key}-dark-#{$i} {
                &:hover {
                    color: color.mix(black, $val, $i * 10%);
                }
            }
        }
    }

    @else if($key =="gray") {
        @debug "I am else Iffffffff"$key;
    }

    @else {
        @debug "my elseeeeeeee"$key;
    }
}

// @if(5 >= 5) {
//     @debug $info "is Thereeeeeeeee";
// } @else {
//     @debug $info "is not Thereeeeeeeee";
// }