@use "sass:map";
@use "sass:math";

$utilities: (
  "width": ("prefix": "w",
    "values": ("auto": auto,
      "0": 0,
      "25": 25%,
      "33": 33.3333%,
      "50": 50%,
      "66": 66.6667%,
      "75": 75%,
      "100": 100%,
      "vw-100": 100vw,
      "min": min-content,
      "max": max-content,
      "fit": fit-content)),

  "height": ("prefix": "h",
    "values": ("auto": auto,
      "0": 0,
      "25": 25%,
      "33": 33.3333%,
      "50": 50%,
      "66": 66.6667%,
      "75": 75%,
      "100": 100%,
      "vh-100": 100vh,
      "min": min-content,
      "max": max-content,
      "fit": fit-content)),
      
  "padding": ("prefix": "p",
    "values": ("0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8)),

  "padding-left": ("prefix": "pl",
    "values": ("0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8),
  ),
  "padding-right": ("prefix": "pr",
    "values": ("0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8),
  ),
  "padding-top": ("prefix": "pt",
    "values": ("0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8),
  ),
  "padding-bottom": ("prefix": "pb",
    "values": ("0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8),
  ),
  "margin": ("prefix": "m",
    "values": ("0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8),
  ),
  "margin-left": ("prefix": "ml",
    "values": ("0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8),
  ),
  "margin-right": ("prefix": "mr",
    "values": ("0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8),
  ),
  "margin-top": ("prefix": "mt",
    "values": ("0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8),
  ),
  "margin-bottom": ("prefix": "mb",
    "values": ("0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8),
  ),

  "opacity": ("prefix": "o",
    "values": ("10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": ("prefix": "br",
    "values": ("default": $base-border-radius,
      "none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "lg": $base-border-radius * 2,
      "full": 50%,
    )),
  "display": ("prefix": "display",
    "values": ("n": none,
      "b": block,
      "i": inline,
      "i-b": inline-block,
      "f": flex,
      "inline-f": inline-flex,
      "g": grid,
      "inline-g": inline-grid,
      "none": none,
    )),

  "font-size": ("prefix": "font",
    "values": ("sm": $font-size-sm,
      "md": $base-font-size,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
      "xxl": $font-size-xxl )),
  "font-weight": ("prefix": "fw",
    "values": ("100": 100,
      "200": 200,
      "300": 300,
      "400": 400, // normal
      "500": 500,
      "600": 600,
      "700": 700, // bold
      "800": 800,
      "900": 900,
      "normal": normal,
      "bold": bold,
      "bolder": bolder,
      "lighter": lighter)),
  "text-align": ("prefix": "ta",
    "values": ("left": left,
      "center": center,
      "right": right,
      "justify": justify,
      "start": start,
      "end": end)),

  "text-transform": ("prefix": "tt",
    "values": ("capitalize": capitalize,
      "uppercase": uppercase,
      "lowercase": lowercase,
      "none": none)),

  "position": ("prefix": "pos",
    "values": ("static": static,
      "relative": relative,
      "absolute": absolute,
      "fixed": fixed,
      "sticky": sticky)),

  "overflow": ("prefix": "ov",
    "values": ("visible": visible,
      "hidden": hidden,
      "scroll": scroll,
      "auto": auto)),

  "text-decoration": ("prefix": "td",
    "values": ("none": none,
      "underline": underline,
      "overline": overline,
      "line-through": line-through)),

  "white-space": ("prefix": "ws",
    "values": ("normal": normal,
      "nowrap": nowrap,
      "pre": pre,
      "pre-line": pre-line,
      "pre-wrap": pre-wrap)),

  "font-style": ("prefix": "fst",
    "values": ("normal": normal,
      "italic": italic,
      "oblique": oblique)),

  "visibility": ("prefix": "vis",
    "values": ("visible": visible,
      "hidden": hidden,
      "collapse": collapse)),

  "vertical-align": ("prefix": "va",
    "values": ("baseline": baseline,
      "top": top,
      "middle": middle,
      "bottom": bottom,
      "text-top": text-top,
      "text-bottom": text-bottom))
);

/** Generate Utilities */

@each $property, $maps in $utilities {
  $prefix: map.get($maps, "prefix");
  $values: map.get($maps, "values");

  @each $key, $val in $values {

    // @debug #{$prefix}-#{$key} $val;
    @if $key =="default" {
      .#{$prefix} {
        #{$property}: $val;
      }

      .#{$prefix}-hover:hover {
        #{$property}: $val;
      }
    }

    @else {
      .#{$prefix}-#{$key} {
        #{$property}: $val;
      }

      .#{$prefix}-hover-#{$key}:hover {
        #{$property}: $val;
      }
    }
  }
}